.profile {
  width: 360px;
  margin: 0 auto;
  background-color: white;
  margin-top: 50px;
  box-shadow: 2px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  margin: 40px 0;
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.tag,
.location {
  font-size: 15px;
  color: grey;
  margin-bottom: 15px;
}

.stats {
  display: flex;
  margin-top: 15px;
  padding: 10px;
}

.stats li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  background-color: rgba(236, 236, 236, 0.845);
  border: 1px solid rgba(118, 112, 112, 0.927);
  border-radius: 4px;
}

.label {
  color: rgb(106, 106, 106);
}

.quantity {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
